/* .new-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}

.new-collections h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.new-collections hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525
}

.collections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
} */

.ourProducts {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 80px;
}

.ourProducts h1 {
    font-size: clamp(1.25rem, 1.1rem + 0.75vw, 2rem);
    color: #1a1a1a;
}

.product-container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

@media only screen and (max-width: 1200px) {
    .ourProducts {
        max-width: clamp(18.75rem, 0.5682rem + 90.9091vw, 68.75rem);
    }

    .product-container {
        max-width: clamp(18.75rem, 0.5682rem + 90.9091vw, 68.75rem);
    }
}

@media only screen and (max-width: 600px) {
    .ourProducts {
        padding-top: 20px;
    }

    .product-container {
        gap: clamp(0rem, -2.1429rem + 10.7143vw, 1.875rem);
    }
}
