.productdisplay {
    display: flex;
    margin: 0px 170px;
}

.productdisplay-left {
    display: flex;
    gap: 17px;
}

.productdisplay-img-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.productdisplay-img-list img {
    height: 163px;
}

.productdisplay-main-img {
    width: 586px;
    height: 700px;
}

.productdisplay-right {
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}

.productdisplay-right h1 {
    color: #3a3a3a;
    font-size: 40px;
    font-weight: 700;
}

.productdisplay-right-starts {
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}

.productdisplay-right-prices {
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.productdisplay-right-price-old {
    color: #818181;
    text-decoration: line-through;
}

.productdisplay-right-price-new {
    color: #ff4141;
}

.productdisplay-right-size h1 {
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}

.productdisplay-right-sizes {
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}

.productdisplay-right-sizes div {
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.productdisplay-right button {
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.productdisplay-right-category {
    margin-top: 10px;
}

.productdisplay-right-category span {
    font-weight: 600;
}

.product-main-container .product-detail-container {
    max-width: 1100px;
    margin: 50px auto;
    display: flex;
    align-items: center;
}

.product-main-container .product-detail-container .product-detail {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
    padding: 0 80px;
}

.product-main-container .product-detail-container .product-detail .product-brand a {
    color: #ef3636;
    font-size: 30px;
    letter-spacing: 5px;
    text-decoration: none;
}

.product-main-container .product-detail-container .product-detail .product-name {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.product-main-container .product-detail-container .product-detail .product-type a {
    color: #a5a5a5;
    text-transform: uppercase;
    text-decoration: none;
}

.product-main-container .product-detail-container .product-detail .product-price {
    display: flex;
    justify-content: center;
    font-size: 13px;
    color: #ef3636;
}

.product-main-container .product-detail-container .product-detail .product-selectSize {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 13px;
}

.product-main-container .product-detail-container .product-detail .product-selectSize .product-selectSize-form {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.product-main-container .product-detail-container .product-detail .product-selectSize .product-selectSize-form div {
    display: flex;
}

.product-main-container .product-detail-container .product-detail .product-selectSize .product-selectSize-form .product-selectSize-items {
    gap: 15px;
}

.product-main-container .product-detail-container .product-detail .product-selectSize .product-selectSize-form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    background-color: whitesmoke;
    color: #1a1a1a;
    font-size: 20px;
    width: 30px;
    height: 30px;
    transition: all 0.1s ease;
}

.product-main-container .product-detail-container .product-detail .product-selectSize .product-selectSize-form input::before {
    content: attr(label);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product-main-container .product-detail-container .product-detail .product-selectSize .product-selectSize-form input:checked {
    background-color: #ef3636;
    color: #ffffff;
}

.product-main-container .product-detail-container .product-image {
    width: 50%;
    display: flex;
    justify-content: center;
}

.product-main-container .product-detail-container .product-image img {
    height: 600px;
}


