.cartitems {
    margin: 100px 170px;
}

.cartitems hr {
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartitems-format-main {
    display: grid;
    grid-template-columns: .5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 70px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.cartitems-format {
    font-size: 17px;
    font-weight: 500;
}

.carticon-product-icon {
    height: 62px;
}

.cartitems-remove-icon {
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}

.cartitems-quantity {
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff;
}

.cartitems-down {
    display: flex;
    margin: 100px 0px;
}

.cartitems-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}

.cartitems-total-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.cartitems-total button {
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.cartitems-promocode {
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

.cartitems-promocode p {
    color: #555;
}

.cartitems-promobox {
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;
}

.cartitems-promobox input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}

.cartitems-promobox button {
    width: 170px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
}

.shoppingCart-product-item-heading {
    color: #1c1c1c;
    font-weight: 600;
}

.shoppingCart-main-container {
    max-width: 1100px;
    margin: 50px auto;
}

.shoppingCart-main-container .shoppingCart-main-container-heading {
    font-size: 30px;
    margin-bottom: 20px;
}

.shoppingCart-main-container .shoppingCart-productDetail-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container {
    width: 64%;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-empty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap: 8px;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-empty span {
    color: #ef3636;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-container-line {
    height: 2px;
    width: 100%;
    margin: 5px auto;
    background-color: #a5a5a5;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-item {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-item .shoppingCart-product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 5rem;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-item .shoppingCart-product-image img {
    height: 120px;
    width: 100%;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 0%;
    object-position: 50% 0%;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-item .shoppingCart-product-name {
    display: flex;
    flex-direction: column;
    width: 190px;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-item .shoppingCart-product-name h1 {
    font-size: 15px;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-item .shoppingCart-product-quantity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-item .shoppingCart-product-quantity .shoppingCart-product-quantity-input {
    display: flex;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-item .shoppingCart-product-quantity .shoppingCart-product-quantity-input input[type=number] {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    text-align: center;
    border: none;
    color: #1a1a1a;
    background-color: whitesmoke;
    font-size: 20px;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-item .shoppingCart-product-quantity .shoppingCart-product-quantity-input input::-webkit-outer-spin-button,
.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-item .shoppingCart-product-quantity .shoppingCart-product-quantity-input input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-item .shoppingCart-product-quantity .shoppingCart-product-quantity-input button {
    color: #1a1a1a;
    background-color: whitesmoke;
    border: none;
    font-size: 20px;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-item .shoppingCart-product-quantity .shoppingCart-product-quantity-input button:hover {
    color: #ef3636;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-item .shoppingCart-product-quantity .shoppingCart-product-quantity-input #decrement {
    padding: 4px 5px 4px 15px;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-item .shoppingCart-product-quantity .shoppingCart-product-quantity-input #increment {
    padding: 4px 15px 4px 5px;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-item .shoppingCart-product-quantity .shoppingCart-product-quantity-button button {
    color: #1a1a1a;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-item .shoppingCart-product-quantity .shoppingCart-product-quantity-button button:hover {
    color: #ef3636;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-item .shoppingCart-product-delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-item .shoppingCart-product-delete button {
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: #1a1a1a;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-item .shoppingCart-product-delete button:hover {
    stroke: #ef3636;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-productPrice-container {
    width: 35%;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-productPrice-container .shoppingCart-productPrice-content {
    padding: 40px 30px;
    background-color: #1a1a1a;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-productPrice-container .shoppingCart-productPrice-content .shoppingCart-productPrice-subtotal,
.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-productPrice-container .shoppingCart-productPrice-content .shoppingCart-productPrice-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #a5a5a5;
    padding: 10px 0px;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-productPrice-container .shoppingCart-productPrice-content .shoppingCart-productPrice-total {
    display: flex;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-productPrice-container .shoppingCart-productPrice-content h1 {
    font-size: 13px;
    font-weight: 300;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-productPrice-container .shoppingCart-productPrice-content .shoppingCart-productPrice-heading {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-productPrice-container .shoppingCart-productPrice-content .shoppingCart-productPrice-price {
    color: #ef3636;
    font-weight: 400;
}

.shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-productPrice-container .shoppingCart-productPrice-buttons {
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.shoppingCart-main-container .shoppingCart-discount-container {
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 1;
}

.shoppingCart-main-container .shoppingCart-discount-container p {
    font-size: 15px;
    line-height: 1.5;
}

.shoppingCart-main-container .shoppingCart-discount-container div {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.shoppingCart-main-container .shoppingCart-discount-container div input {
    border: 2px solid;
    border-color: #ef3636;
    border-radius: 5px;
}

.shoppingCart-main-container .shoppingCart-discount-container div button {
    color: #1a1a1a;
}


@media only screen and (max-width: 1200px) {
    .shoppingCart-main-container {
        max-width: clamp(18.75rem, 0.5682rem + 90.9091vw, 68.75rem);
    }
}

@media only screen and (max-width: 1024px) {
    .shoppingCart-main-container .shoppingCart-productDetail-container {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container {
        width: 100%;
    }

    .shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-productPrice-container {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    .shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-productPrice-container .shoppingCart-productPrice-buttons>a {
        display: none;
    }

    .shoppingCart-product-container-line {
        display: none;
    }

    .shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-item {
        max-width: 10rem;
        flex-direction: column;
        padding-right: 0px;
        align-items: flex-start;
        gap: 3px;
        position: relative;
    }

    .shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-item .shoppingCart-product-image {
        width: 10rem;
        pointer-events: none;
    }

    .shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-item .shoppingCart-product-image img {
        height: 250px;
        width: auto;
    }

    .shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-item .shoppingCart-product-name {
        width: auto;
        font-size: .8rem;
        line-height: 1.1;
    }

    .shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-item .shoppingCart-product-quantity {
        font-size: .8rem;
        flex-direction: row;
    }

    .shoppingCart-product-price {
        display: flex;
        font-size: .8rem;
        gap: 10px;
    }

    .shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-product-container .shoppingCart-product-items .shoppingCart-product-item .shoppingCart-product-delete {
        position: absolute;
        right: 2px;
        top: 2px;
    }

    .shoppingCart-product-items {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .shoppingCart-main-container .shoppingCart-productDetail-container .shoppingCart-productPrice-container {
        width: 100%;
    }
}

@media only screen and (max-width: 360px) {
    .shoppingCart-product-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
}