.login-signup-wrapper {
    margin: 60px 10px;
    display: flex;
    justify-content: center;
    gap: 8rem;
}

.login-signup-sideBanner-img {
    height: 80vh;
    width: 28rem;
    object-fit: cover;
}

.login-signup-sideContent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.login-signup-sideContent-container {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.login-signup-sideContent-container>input {
    height: 3rem;
    /* width: 25vw; */
    padding-left: 20px;
    border: 2px solid #ef3636;
    outline: none;
    color: #1c1c1c;
    font-size: 18px;
}

.login-signup-sideContent-button {
    height: 3rem;
    color: white;
    background-color: #ef3636;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.login-signup-sideContent-state {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.login-signup-sideContent-state>span {
    color: #ff1411;
    font-weight: 600;
    cursor: pointer;
}

.login-signup-sideContent-agree {
    text-align: left;
    color: #1c1c1c;
    font-size: 1rem;
    font-weight: 600;
}

@media only screen and (max-width: 1200px) {
    .login-signup-wrapper {
        gap: clamp(1rem, -17.9259rem + 34.5679vw, 8rem);
    }
}

@media only screen and (max-width: 876px) {
    .login-signup-wrapper {
        flex-direction: column;
    }

    .login-signup-sideBanner-container {
        display: none;
    }

    .login-signup-sideContent-container {
        width: 80%;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 876px) {
    .login-signup-sideContent-heading {
        font-size: clamp(1rem, 0.4245rem + 2.8777vw, 2rem);
    }

    .login-signup-sideContent-container>input {
        font-size: 1rem;
    }

    .login-signup-sideContent-agree {
        font-size: clamp(0.8rem, 0.6849rem + 0.5755vw, 1rem);
    }

    .login-signup-sideContent-container {
        width: 95%;
    }

    .login-signup-sideContent-button {
        font-size: clamp(1rem, 0.7122rem + 1.4388vw, 1.5rem);
    }

    .login-signup-sideContent-state {
        font-size: clamp(0.8rem, 0.6129rem + 0.9353vw, 1.125rem);
    }
}

/* .loginsignup {
    width: 100%;
    height: 80vh;
    background: #fce3fe;
    padding-top: 100px;
}

.loginsignup-container {
    width: 580px;
    height: 600px;
    background: white;
    margin: auto;
    padding: 40px 60px;
}

.loginsignup-container h1 {
    margin: 20px 0px;
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}

.loginsignup-fields input {
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}

.loginsignup-container button {
    width: 580px;
    height: 72px;
    color: white;
    background-color: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.loginsignup-login {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.loginsignup-login span {
    color: #ff1411;
    font-weight: 600;
}

.loginsignup-agree {
    display: flex;
    align-items: center;
    margin-top: 25px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
} */