.upperBanner-kid,
.upperBanner-men,
.upperBanner-women {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.upperBanner-men {
    background: url("../../Components/Assets/cloths/menBanner.jpg");
    background-position: 117px -1496px;
    background-size: 100%;
}

.upperBanner-women {
    background: url("../../Components/Assets/cloths/womenBanner.jpg");
    background-position: 0 -399px;
    background-size: 100%;
}

.upperBanner-kid {
    background: url("../../Components/Assets/cloths/kidBanner.jpg");
    background-position: 0 -672px;
    background-size: 100%;
}