.main-home {
    width: 100%;
    height: 100vh;
    background: url("../Assets/slider/slider-3.jpg");
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, .25)
}

.main-home .main-text {
    color: #ffffff;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}

.main-home .main-text h1 {
    font-size: clamp(1.5rem, 0.9875rem + 2.5625vw, 4.0625rem);
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 80px 10px;
}

.main-home .main-text p {
    font-size: clamp(0.6875rem, 0.625rem + 0.3125vw, 1rem);
    font-weight: 350;
    margin: 6px 80px 10px;
}

.main-home .main-text .btn-5 {
    color: white;
    font-size: 20px;
    margin: 6px 80px 10px;
}

@media only screen and (max-width: 768px) {

    .main-home {
        height: 80vh;
    }

    .main-home .main-text p {
        margin: 6px 50px 10px;
    }

    .main-home .main-text .btn-5 {
        margin: 6px 50px 10px;

    }

    .main-home .main-text h1 {
        margin: 6px 50px 10px;
    }
}